/* FOOTER */

.footer {
    background-color: #353535;
    padding: 1rem;
    margin-top: 2rem;
}

.footer_h2 {
    margin-top: 0;
    font-family: 'Shrikhand', "cursive";
    
}

.footer p {
    margin: 0.5rem 0 0 0;
    
}

.content h2,
.content p {
    color: white;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.content a {
    text-decoration: none;
    color: white;
}

.fa-utensils {
    padding-right: 0.4rem;
}