/* EXPLORER */

.explorer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #f6f6f6;
    border-radius: 0 0 1rem 1rem;
}

.explorer p {
    font-weight: 300;
    padding: 0 2rem 0 2rem;
}

.explorer button{
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 2rem 2rem 2rem 2rem;
    border: none;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    transition: 200ms;
    margin-top: 1rem;
}

.explorer button:hover {
    transform: scale(1.02);
    opacity: 0.9;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}