/* RESTAURANT */

.restaurant {
    background-color: #f3f3f3;
}

.restaurant {
    padding: 2rem 1rem;
}

.allcards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
}

.card_image {
    height: 12rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.image_new {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
}

.card__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.card__content {
    flex: 1;
}

.card__title {
    margin: 0 0 0.25rem;
}

.card__subtitle {
    margin: 0;
}

@media (min-width: 850px) {
.allcards {
    grid-template-columns: repeat(2,1fr);
}
}

.fa-heart {
    font-size: 2rem;
    position: absolute;
    top: 1.4rem;
    right: 1rem;
}

.hearts .fa-solid {
    color: transparent;
    background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms;
}

.fa-solid:hover {
    opacity: 1;
}