@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
@import url("./css/explorer.css");
@import url("./css/functioning.css");
@import url("./css/header.css");
@import url("./css/restaurant.css");
@import url("./css/footer.css");
@import url("./restau1.css");

/* *, 
::before
::after
 {
    box-sizing: border-box;
} */

main {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: "Roboto", "sans-serif";
}